<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
	<link href="./static/semantic.min.css" rel="stylesheet">
	<script src="./static/semantic.min.js"></script>
	<title>TEDx讲者海报生成</title>
</head>
<body>


<div class="ui container" style="margin-top:30px">
    <h1 class="ui header">TEDx讲者海报生成</h1>
    <div class="ui segment">
	<form class="ui form" action="gen_poster" method='post' enctype=multipart/form-data>
	  <div class="field">
	    <label>照片（可选，最好先裁剪成正方形）</label>
	    <input type="file" name="photo" accept="image/*">
	  </div>
	  <div class="field">
	    <label>姓名</label>
	    <input type="text" name="name" placeholder="张三丰">
	  </div>
	  <div class="field">
	    <label>英文名（或拼音）</label>
	    <input type="text" name="en_name" placeholder="Zhang Sanfeng">
	  </div>
  	  <div class="field">
	    <label>个人标签</label>
	    <input type="text" name="title" placeholder="武当派武术的开山祖师">
	  </div>
	  <div class="field" style="display:none">
	    <label>座右铭</label>
	    <input type="text" name="motto" placeholder="人能修正身心，则真精真神聚其中，大才大德出其中。" value='请支持我成为TEDx讲者。'>
	  </div>
	  <button class="ui button" type="submit">生成我的海报</button>
	</form>
    </div>
</div>

</body>
</html>
